.search {
    background: #f5f7fa;
    border-left: 1px solid #d3dff0;
    border-right: 1px solid #d3dff0;
    width: 342px;
}

.title_search {
    color: #003360;
    border-bottom: 1px solid #d3dff0;
    font-weight: bold;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 19px 19px 26px;
}

.search_params {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #171717;
}
.arrowDownSecond{
    padding: 0 6px 15px 54px;
    cursor: pointer;
}


.input_search_all{
    padding-left: 50px;
    font-size: 14px !important;
}
.input_search {
    border-radius: 4px;
    padding-left: 48px;
    margin-bottom: 10px;
    background-image: url(../../../img/bx-anchor.svg);
    background-repeat: no-repeat;
    background-position: 20px 5px;
    border-color: #92b6e8;
}

.form-control {
    padding-left: 41px;
    font-size: 12px !important;
}
.input_search_all {
    font-size: 12px;
}

.search_bin {
    padding: 20px;
}

.searchButtons {
    padding-left: 18px;
    display: flex;
}

.search_Button,
.search_Button_clear {
    font-size: 14px;
    border: 1px solid #2c5de5;
    background: none;
    line-height: 12px;
    border-radius: 4px;
    padding: 10px 20px;
}

.search_Button {
    border-radius: 4px;
    background-color: blue;
    color: white;
    margin-left: 20px;
}
.setting {
    background-position: 20px 7px;
    background-image: url(../../../img/bx-hash.svg);
}
.input_search_img {
    border-radius: 4px;
    padding-left: 48px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: 18px 7px;
    border-color: #92b6e8;
}
.titleForm{
    display: block;
    margin-bottom: 29px;
}