a {
    text-decoration: none;
}

.base_hover {
    position: relative;
}

.base_hover_info {
    position: absolute;
    left: 0;
    top: 110%;
    background: grey;
    padding: 5px;
    opacity: 0;
    display: flex;
    flex-flow: column;
    border-radius: 4px;
}

.base_hover:hover .base_hover_info {
    opacity: 1;
}

.base_hover_info_text  {
    text-decoration: none;
    color: white;
    padding: 10px 0;

}

.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 1px 2px 0 #92b6e8, inset 0 -3px 0 0 #e7eef8;
    background: #fff;
}


.menu_link {
    color: #003360;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    padding: 0 20px;
}

.menu_link:hover {
    color: #003360;
    border-bottom: 3px solid #003360;
    text-decoration: none;
    padding-bottom: 32px;
}

.menu_link:active {
    color: red;
    border-bottom: 3px solid red;
    text-decoration: none;
    padding-bottom: 32px;
}

.menu_link:nth-child(3) {
    color: red;
    border-bottom: 3px solid red;
    text-decoration: none;
    padding-bottom: 32px;
}

.logo,
.menu,
.profile {
    padding: 21px 15px 15px 15px;
}

.menu {
    padding-top: 25px;
}


.profile {
    display: flex;
    justify-content: flex-end;
    padding: 10px 5px 0 0;
}

.profile_name {
    font-size: 16px;
    color: #003360;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.profile_type {
    font-size: 11px;
    color: #8aa1c1;
    transform: translate(19px, -13px)
}

.img_profile_photo {
    width: 50px;
    height: 50px;
    border-radius: 26px;
    border: solid 2px red;
}

.arrowDown {
    content: '';
    position: absolute;
    top: 29px;
    right: 9px;
    margin: auto 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: url(../../img/partners/icons8-развернуть-16.png) no-repeat;
}

.all_info_user {
    position: absolute;
    background: #f5f7fa;
    top: 13vh;
    border: 1px solid #d7e2f1;
    border-radius: 4px;
    padding: 10px 15px;
    right: 0;
}

.all_info_user_text {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
}

.all_info_user_text:hover {
    background: #2C5DE5;
    color: #ffffff;
}

/*.base_hover_info{*/
/*    display: none;*/
/*}*/
/*.base_hover:hover .base_hover_info{*/
/*    display: block;*/
/*}*/