.fast-search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
}
.table-toolbar {
  background-color: rgb(231, 238, 248);
  border-radius: 5px;
  margin-bottom: 4px;
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
}
.export-print {
  display: flex;
  justify-content: right;
}
